In [2]:
import pandas as pd

import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [3]:
spark= SparkSession.builder.appName("DataFrame").getOrCreate()

In [15]:
#READING DATASET 
df_pyspark = spark.read.option('header', 'true').csv('teams.csv', inferSchema=True)

In [16]:
df_pyspark.printSchema()

root
 |-- team: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- athletes: integer (nullable = true)
 |-- events: integer (nullable = true)
 |-- age: double (nullable = true)
 |-- height: double (nullable = true)
 |-- weight: double (nullable = true)
 |-- prev_medals: double (nullable = true)
 |-- medals: integer (nullable = true)

In [18]:
df_pyspark =spark.read.csv('teams.csv', header=True, inferSchema=True)
df_pyspark.show()

+----+----+--------+------+----+------+------+-----------+------+
|team|year|athletes|events| age|height|weight|prev_medals|medals|
+----+----+--------+------+----+------+------+-----------+------+
| AFG|1964|       8|     8|22.0| 161.0|  64.2|        0.0|     0|
| AFG|1968|       5|     5|23.2| 170.2|  70.0|        0.0|     0|
| AFG|1972|       8|     8|29.0| 168.3|  63.8|        0.0|     0|
| AFG|1980|      11|    11|23.6| 168.4|  63.2|        0.0|     0|
| AFG|2004|       5|     5|18.6| 170.8|  64.8|        0.0|     0|
| AFG|2008|       4|     4|22.5| 179.2|  62.8|        0.0|     1|
| AFG|2012|       6|     6|24.8| 171.7|  60.8|        1.0|     1|
| AFG|2016|       3|     3|24.7| 173.7|  74.0|        1.0|     0|
| AHO|1964|       4|     4|28.5| 171.2|  69.4|        0.0|     0|
| AHO|1968|       5|     4|31.0| 173.2|  67.8|        0.0|     0|
| AHO|1972|       2|     2|38.5| 164.0|  86.0|        0.0|     0|
| AHO|1976|       4|     4|27.3| 174.5|  66.0|        0.0|     0|
| AHO|1984|      13|    10|18.2| 181.1|  69.8|        0.0|     0|
| AHO|1988|       4|     4|25.0| 193.0|  80.0|        0.0|     1|
| AHO|1992|       4|     4|30.2| 178.0|  83.5|        1.0|     0|
| AHO|1996|       7|     7|30.1| 178.0|  83.2|        0.0|     0|
| AHO|2000|       8|     8|30.6| 179.1|  79.6|        0.0|     0|
| AHO|2004|       3|     3|32.3| 183.7|  80.0|        0.0|     0|
| AHO|2008|       4|     4|23.0| 178.8|  74.5|        0.0|     0|
| ALB|1996|       9|     7|26.8| 169.0|  67.5|        0.0|     0|
+----+----+--------+------+----+------+------+-----------+------+
only showing top 20 rows

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(3)

[Row(team='AFG', year=1964, athletes=8, events=8, age=22.0, height=161.0, weight=64.2, prev_medals=0.0, medals=0),
 Row(team='AFG', year=1968, athletes=5, events=5, age=23.2, height=170.2, weight=70.0, prev_medals=0.0, medals=0),
 Row(team='AFG', year=1972, athletes=8, events=8, age=29.0, height=168.3, weight=63.8, prev_medals=0.0, medals=0)]

In [23]:
df_pyspark.show()

+----+----+--------+------+----+------+------+-----------+------+
|team|year|athletes|events| age|height|weight|prev_medals|medals|
+----+----+--------+------+----+------+------+-----------+------+
| AFG|1964|       8|     8|22.0| 161.0|  64.2|        0.0|     0|
| AFG|1968|       5|     5|23.2| 170.2|  70.0|        0.0|     0|
| AFG|1972|       8|     8|29.0| 168.3|  63.8|        0.0|     0|
| AFG|1980|      11|    11|23.6| 168.4|  63.2|        0.0|     0|
| AFG|2004|       5|     5|18.6| 170.8|  64.8|        0.0|     0|
| AFG|2008|       4|     4|22.5| 179.2|  62.8|        0.0|     1|
| AFG|2012|       6|     6|24.8| 171.7|  60.8|        1.0|     1|
| AFG|2016|       3|     3|24.7| 173.7|  74.0|        1.0|     0|
| AHO|1964|       4|     4|28.5| 171.2|  69.4|        0.0|     0|
| AHO|1968|       5|     4|31.0| 173.2|  67.8|        0.0|     0|
| AHO|1972|       2|     2|38.5| 164.0|  86.0|        0.0|     0|
| AHO|1976|       4|     4|27.3| 174.5|  66.0|        0.0|     0|
| AHO|1984|      13|    10|18.2| 181.1|  69.8|        0.0|     0|
| AHO|1988|       4|     4|25.0| 193.0|  80.0|        0.0|     1|
| AHO|1992|       4|     4|30.2| 178.0|  83.5|        1.0|     0|
| AHO|1996|       7|     7|30.1| 178.0|  83.2|        0.0|     0|
| AHO|2000|       8|     8|30.6| 179.1|  79.6|        0.0|     0|
| AHO|2004|       3|     3|32.3| 183.7|  80.0|        0.0|     0|
| AHO|2008|       4|     4|23.0| 178.8|  74.5|        0.0|     0|
| ALB|1996|       9|     7|26.8| 169.0|  67.5|        0.0|     0|
+----+----+--------+------+----+------+------+-----------+------+
only showing top 20 rows

In [25]:
df_pyspark.select('team').show()

+----+
|team|
+----+
| AFG|
| AFG|
| AFG|
| AFG|
| AFG|
| AFG|
| AFG|
| AFG|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| AHO|
| ALB|
+----+
only showing top 20 rows

In [27]:
df_pyspark.select(['team','year']).show()

+----+----+
|team|year|
+----+----+
| AFG|1964|
| AFG|1968|
| AFG|1972|
| AFG|1980|
| AFG|2004|
| AFG|2008|
| AFG|2012|
| AFG|2016|
| AHO|1964|
| AHO|1968|
| AHO|1972|
| AHO|1976|
| AHO|1984|
| AHO|1988|
| AHO|1992|
| AHO|1996|
| AHO|2000|
| AHO|2004|
| AHO|2008|
| ALB|1996|
+----+----+
only showing top 20 rows

In [28]:
df_pyspark.dtypes

[('team', 'string'),
 ('year', 'int'),
 ('athletes', 'int'),
 ('events', 'int'),
 ('age', 'double'),
 ('height', 'double'),
 ('weight', 'double'),
 ('prev_medals', 'double'),
 ('medals', 'int')]

In [29]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+
|summary|team|              year|         athletes|            events|               age|            height|           weight|       prev_medals|            medals|
+-------+----+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+
|  count|2014|              2014|             2014|              2014|              2014|              2014|             2014|              2014|              2014|
|   mean|NULL| 1995.227408142999|76.32969215491559| 36.87785501489573|  24.8126117179742|173.95516385302867|69.32899702085403| 10.24875868917577|10.990069513406157|
| stddev|NULL|15.227727329373192|129.7994269982944|50.130876662984214|2.7582581296478117| 5.262469226761085| 7.49474021804009|31.951919697073418| 33.62752788400897|
|    min| AFG|              1964|                1|                 1|              17.0|             151.0|             43.3|               0.0|                 0|
|    max| ZIM|              2016|              839|               270|              66.0|             193.0|            148.0|             442.0|               442|
+-------+----+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+

In [33]:
##ADDING COLUMNS
df_pyspark1 = df_pyspark.withColumn('Keterangan', df_pyspark['year']+2)

In [35]:
df_pyspark1.show()

+----+----+--------+------+----+------+------+-----------+------+----------+
|team|year|athletes|events| age|height|weight|prev_medals|medals|Keterangan|
+----+----+--------+------+----+------+------+-----------+------+----------+
| AFG|1964|       8|     8|22.0| 161.0|  64.2|        0.0|     0|      1966|
| AFG|1968|       5|     5|23.2| 170.2|  70.0|        0.0|     0|      1970|
| AFG|1972|       8|     8|29.0| 168.3|  63.8|        0.0|     0|      1974|
| AFG|1980|      11|    11|23.6| 168.4|  63.2|        0.0|     0|      1982|
| AFG|2004|       5|     5|18.6| 170.8|  64.8|        0.0|     0|      2006|
| AFG|2008|       4|     4|22.5| 179.2|  62.8|        0.0|     1|      2010|
| AFG|2012|       6|     6|24.8| 171.7|  60.8|        1.0|     1|      2014|
| AFG|2016|       3|     3|24.7| 173.7|  74.0|        1.0|     0|      2018|
| AHO|1964|       4|     4|28.5| 171.2|  69.4|        0.0|     0|      1966|
| AHO|1968|       5|     4|31.0| 173.2|  67.8|        0.0|     0|      1970|
| AHO|1972|       2|     2|38.5| 164.0|  86.0|        0.0|     0|      1974|
| AHO|1976|       4|     4|27.3| 174.5|  66.0|        0.0|     0|      1978|
| AHO|1984|      13|    10|18.2| 181.1|  69.8|        0.0|     0|      1986|
| AHO|1988|       4|     4|25.0| 193.0|  80.0|        0.0|     1|      1990|
| AHO|1992|       4|     4|30.2| 178.0|  83.5|        1.0|     0|      1994|
| AHO|1996|       7|     7|30.1| 178.0|  83.2|        0.0|     0|      1998|
| AHO|2000|       8|     8|30.6| 179.1|  79.6|        0.0|     0|      2002|
| AHO|2004|       3|     3|32.3| 183.7|  80.0|        0.0|     0|      2006|
| AHO|2008|       4|     4|23.0| 178.8|  74.5|        0.0|     0|      2010|
| ALB|1996|       9|     7|26.8| 169.0|  67.5|        0.0|     0|      1998|
+----+----+--------+------+----+------+------+-----------+------+----------+
only showing top 20 rows

In [37]:
##drop columns
df_pyspark1.drop('Keterangan').show()

+----+----+--------+------+----+------+------+-----------+------+
|team|year|athletes|events| age|height|weight|prev_medals|medals|
+----+----+--------+------+----+------+------+-----------+------+
| AFG|1964|       8|     8|22.0| 161.0|  64.2|        0.0|     0|
| AFG|1968|       5|     5|23.2| 170.2|  70.0|        0.0|     0|
| AFG|1972|       8|     8|29.0| 168.3|  63.8|        0.0|     0|
| AFG|1980|      11|    11|23.6| 168.4|  63.2|        0.0|     0|
| AFG|2004|       5|     5|18.6| 170.8|  64.8|        0.0|     0|
| AFG|2008|       4|     4|22.5| 179.2|  62.8|        0.0|     1|
| AFG|2012|       6|     6|24.8| 171.7|  60.8|        1.0|     1|
| AFG|2016|       3|     3|24.7| 173.7|  74.0|        1.0|     0|
| AHO|1964|       4|     4|28.5| 171.2|  69.4|        0.0|     0|
| AHO|1968|       5|     4|31.0| 173.2|  67.8|        0.0|     0|
| AHO|1972|       2|     2|38.5| 164.0|  86.0|        0.0|     0|
| AHO|1976|       4|     4|27.3| 174.5|  66.0|        0.0|     0|
| AHO|1984|      13|    10|18.2| 181.1|  69.8|        0.0|     0|
| AHO|1988|       4|     4|25.0| 193.0|  80.0|        0.0|     1|
| AHO|1992|       4|     4|30.2| 178.0|  83.5|        1.0|     0|
| AHO|1996|       7|     7|30.1| 178.0|  83.2|        0.0|     0|
| AHO|2000|       8|     8|30.6| 179.1|  79.6|        0.0|     0|
| AHO|2004|       3|     3|32.3| 183.7|  80.0|        0.0|     0|
| AHO|2008|       4|     4|23.0| 178.8|  74.5|        0.0|     0|
| ALB|1996|       9|     7|26.8| 169.0|  67.5|        0.0|     0|
+----+----+--------+------+----+------+------+-----------+------+
only showing top 20 rows

In [39]:
#Renaming column
df_pyspark1.withColumnRenamed('year', 'Year').show()

+----+----+--------+------+----+------+------+-----------+------+----------+
|team|Year|athletes|events| age|height|weight|prev_medals|medals|Keterangan|
+----+----+--------+------+----+------+------+-----------+------+----------+
| AFG|1964|       8|     8|22.0| 161.0|  64.2|        0.0|     0|      1966|
| AFG|1968|       5|     5|23.2| 170.2|  70.0|        0.0|     0|      1970|
| AFG|1972|       8|     8|29.0| 168.3|  63.8|        0.0|     0|      1974|
| AFG|1980|      11|    11|23.6| 168.4|  63.2|        0.0|     0|      1982|
| AFG|2004|       5|     5|18.6| 170.8|  64.8|        0.0|     0|      2006|
| AFG|2008|       4|     4|22.5| 179.2|  62.8|        0.0|     1|      2010|
| AFG|2012|       6|     6|24.8| 171.7|  60.8|        1.0|     1|      2014|
| AFG|2016|       3|     3|24.7| 173.7|  74.0|        1.0|     0|      2018|
| AHO|1964|       4|     4|28.5| 171.2|  69.4|        0.0|     0|      1966|
| AHO|1968|       5|     4|31.0| 173.2|  67.8|        0.0|     0|      1970|
| AHO|1972|       2|     2|38.5| 164.0|  86.0|        0.0|     0|      1974|
| AHO|1976|       4|     4|27.3| 174.5|  66.0|        0.0|     0|      1978|
| AHO|1984|      13|    10|18.2| 181.1|  69.8|        0.0|     0|      1986|
| AHO|1988|       4|     4|25.0| 193.0|  80.0|        0.0|     1|      1990|
| AHO|1992|       4|     4|30.2| 178.0|  83.5|        1.0|     0|      1994|
| AHO|1996|       7|     7|30.1| 178.0|  83.2|        0.0|     0|      1998|
| AHO|2000|       8|     8|30.6| 179.1|  79.6|        0.0|     0|      2002|
| AHO|2004|       3|     3|32.3| 183.7|  80.0|        0.0|     0|      2006|
| AHO|2008|       4|     4|23.0| 178.8|  74.5|        0.0|     0|      2010|
| ALB|1996|       9|     7|26.8| 169.0|  67.5|        0.0|     0|      1998|
+----+----+--------+------+----+------+------+-----------+------+----------+
only showing top 20 rows

In [ ]:
#handlin missing value